* {
	margin: 0;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
iframe {
	display: block;
	border: 0;
}
.header-left {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}
.header-right {
	margin-left: auto;
}
