<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/style.css" rel="stylesheet" type="text/css">

	<title>Open Combat Logs</title>
</head>
<body>
	<header>
		<nav>
			<div class="logo">OCL</div>
			<ul>
				<li>Queue: {{ .QueueActive }} / {{ .QueueTotal }}</li>
				<li>Storage: {{ printf "%.1f" .StorageUsed }} / {{ .StorageTotal }} GB</li>
				<li>Requests: {{ .Requests24H }} / {{ .RequestsTotal }}</li>
				<li>Visitors: {{ .Visitors24H }} / {{ .VisitorsTotal }}</li>
			</ul>
		</nav>
	</header>

	<aside>
		<section class="raid">
			<h4 class="raid-title">Voidspire</h4>
			<ul>
				<li><a href="/wow/?">Imperator Averzian</a></li>
				<li><a href="/wow/?">Vorasius</a></li>
				<li><a href="/wow/?">Fallen-King Salhadaar</a></li>
				<li><a href="/wow/?">Vaelgor & Ezzorak</a></li>
				<li><a href="/wow/?">Lightblinded Vanguard</a></li>
				<li><a href="/wow/?">Crown of the Cosmos</a></li>
			</ul>

			<h4 class="raid-title">Dreamrift</h4>
			<ul>
				<li><a href="/wow/?">Chimaerus, the Undreamt God</a></li>
			</ul>

			<h4 class="raid-title">Midnight Falls</h4>
			<ul>
				<li><a href="/wow/?">Belo'ren, Child of Al'ar</a></li>
				<li><a href="/wow/?">Midnigt Falls</a></li>
			</ul>
		</section>
	</aside>

	<main>
		<h1>Open Combat Logs</h1>
		<p>Select an encounter.</p>
	</main>
</body>
</html>
