{{ define "sidebar" }}
<aside>
	<section class="raid">
		<h4 class="raid-title">Voidspire</h4>
		<ul>
			<li><a href="/?">Imperator Averzian</a></li>
			<li><a href="/?">Vorasius</a></li>
			<li><a href="/?">Fallen-King Salhadaar</a></li>
			<li><a href="/?">Vaelgor & Ezzorak</a></li>
			<li><a href="/?">Lightblinded Vanguard</a></li>
			<li><a href="/?">Crown of the Cosmos</a></li>
		</ul>

		<h4 class="raid-title">Dreamrift</h4>
		<ul>
			<li><a href="/wow/?">Chimaerus, the Undreamt God</a></li>
		</ul>

		<h4 class="raid-title">Midnight Falls</h4>
		<ul>
			<li><a href="/wow/?">Belo'ren, Child of Al'ar</a></li>
			<li><a href="/encounters/3183">Midnigt Falls</a></li>
		</ul>
	</section>
</aside>
{{ end }}
