:root {
  --primary_color: rgb(159, 192, 162);
  --secondary_color: rgb(245, 194, 118);
  --background_color: rgb(39, 42, 44);
  --surface_color: rgb(51, 53, 56);
  --surface_color_hover: rgb(64, 66, 70);
  --default_white: rgb(242, 245, 243);
  --text_color: rgb(170, 170, 170);

}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: medium;
}

html, a {
  background-color: var(--background_color);
  color: var(--text_color);
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

nav {
  width: 100%;
  height: 60px;
  display: block;
  border-bottom: 1px solid var(--secondary_color);
}

header {
  text-align: center;
}

button {
  border: none;
  outline: none;
  height: 2em;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  float: left;
  padding: 0 1rem;
  display: grid;
  font-size: 2em;
  place-content: center;
  color: var(--secondary_color);
}

.navigation .selected {
  color: var(--background_color);
  background-color: var(--secondary_color);
}

.navigation a:hover:not(.selected) {
  background-color: var(--surface_color_hover);
}

.container {
  width: 100%;
}

.list-header {
  font-size: 2em;
}

.filter-list {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  place-content: center;
  margin: 2em;
}

.filter {
  margin-left: 2em;
  margin-right: 2em;
}

.tag-list {
  display: grid;
  padding: 2em;
}

.project-list {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.project {
  display: grid;
  border: 1px solid var(--secondary_color);
  margin: 2em;
}

.project-header {
  border-bottom: 1px solid var(--secondary_color);
  padding: 0.5em;
}

.project-description {
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px solid var(--secondary_color);
  padding: 1em;
  min-height: 3em;
}

.project-links {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-links .see-more, .language, .github {
  text-align: center;
}

.project-links .language {
  border-left: 1px solid var(--secondary_color);
  border-right: 1px solid var(--secondary_color);
}

.non-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Chess */
.chess-board-container {
  grid-template-columns: 1fr 700px 1fr;
  display: grid;
  margin: 2em;
}

.analysis-tools {
  margin-left: 2em;
  max-height: 700px;
}

.analysis-moves {
  background-color: var(--surface_color);
  height: 90%;
  overflow: scroll;
}

.turn-row {
  grid-template-columns: 12% 44% 44%;
  display: grid;
  width: 100%;
  height: 3em;
}

.turn-row .turn-number {
  background-color: var(--surface_color_hover);
  justify-content: center;
}

.turn-row div {
  font-size: 1.5em;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.turn-row .w, .b {
  padding-left: 1em;;
}

.turn-row .w:hover, .b:hover {
  background-color: var(--surface_color_hover);
  cursor: pointer;
}

.controls {
  height: 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.controls div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls .control-start, .control-back {
  font-size: 3em;
  width: 1.5em;
}

.button:hover {
  background-color: var(--secondary_color);
  color: var(--background_color);
  cursor: pointer;
}

.engine-analysis, .engine-analysis-options {
  max-height: 700px;
  margin-right: 2em;
  display: flex;
  flex-direction:column;
  background-color: var(--surface_color);
  position: relative;
}

.possible-moves-header, .engine-analysis-options-header {
  height: 3em;
  border-bottom: 1px solid var(--secondary_color);
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.engine-analysis-options-header {
  flex-direction: row-reverse;
}

.possible-moves {
  overflow: scroll;
  background-color: var(--surface_color);
}

.possible-moves .possible-move {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.possible-moves .move, .score, .pos-score, .mat-score,
.possible-moves-header .move, .score, .pos-score, .mat-score {
  font-size: 1.2em;
  margin: 0.8em;
  width: 3.5em;
  display: flex;
  align-items: center;
}

.upper-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 6em;
  text-align: center;
  padding: 0.5em;
}

.options {
  padding: 1em;
  
}

.choices {
  display: flex;
  flex-flow: row;
  margin-top: 0.5em;
}

.choices button {
  width: 100%;
  background: none;
  color: var(--text_color);
}

.choices .selected {
  color: var(--surface_color);
  background-color: var(--secondary_color);
}

.choices button:hover:not(.selected) {
  background-color: var(--surface_color_hover);
}

section {
  margin-bottom: 1em;
}
